[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-filter = "*"
markdown = "*"
lxml = "*"
requests = "*"
django-cors-headers = "*"
huey = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
gunicorn = "*"
psycopg2-binary = "*"
redis = "*"
sorl-thumbnail = "*"
pillow = "*"
drf-spectacular = "*"
drf-standardized-errors = {extras = ["openapi"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
